.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.features p {
  color: var(--ifm-color-emphasis-700);
}

[data-theme='dark'] .features p {
  color: var(--ifm-color-emphasis-600);
}
